/* 하단 링크 */
.bottomLink{position: fixed; left: 0; bottom: 0; width: 100%; background-color: black; z-index: 1;}
.bottomLink div{display: flex; justify-content: space-between;}
.bottomLink div *{line-height: 55px; font-size: 16px; font-weight: 700;}
.bottomLink div *:only-child{width: 100%; text-align: center;}
.bottomLink div *:last-child{color: #0bbef3;}
.bottomLink div *:not(:only-child):first-child{color: white;}