.homeArea section {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeArea section:nth-of-type(1) {
  background-image: url(../images/bg_main1.png);
}

.homeArea section:nth-of-type(2) {
  background-image: url(../images/bg_main1.png);
}

.homeArea section:nth-of-type(3) {
  background-image: url(../images/bg_main2.png);
}

.homeArea section:nth-of-type(4) {
  background-image: url(../images/bg_main3.png);
}

.homeArea section > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.homeArea section h3 {
  font-size: 60px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 300px;
  padding-left: 70px;
}

.homeArea section > div div {
  width: 480px;
  height: 81.7vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 145px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homeArea section > div div h4 {
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 25px;
}

.homeArea section > div div p {
  font-size: 22px;
  line-height: 32px;
}

.homeArea section > div div a {
  position: absolute;
  right: 35px;
  bottom: 45px;
  display: block;
  width: 290px;
  line-height: 72px;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  background-color: #fcd804;
}

.brandArea {
  height: 100vh;
  background: url(../images/bg_brand.png) no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandArea div {
  width: 50%;
}

.brandArea div section {
  width: 450px;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 30px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brandArea div section h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.brandArea div section p {
  font-size: 22px;
  line-height: 32px;
}

.magazinesArea section {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.magazinesArea section:nth-of-type(1) {
  background-image: url(../images/bg_magazin1.png);
}

.magazinesArea section:nth-of-type(2) {
  background-image: url(../images/bg_magazin2.png);
}

.magazinesArea section > div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: rgba(0, 0, 0, 0.65);
  height: 100vh;
}

.magazinesArea section > div div {
  max-width: 890px;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.magazinesArea section > div div h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.magazinesArea section > div div p {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 70px;
}

.magazinesArea section > div div a {
  display: block;
  width: 350px;
  line-height: 72px;
  color: black;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  background-color: #fcd804;
  margin-left: auto;
}

.magazinesArea section:nth-of-type(2) > div {
  margin-left: auto;
}
/*# sourceMappingURL=page.css.map */