.searchArea{display: flex; justify-content: center; margin-bottom: 20px;}
.searchArea input{width: 50%; height: 30px; border: 1px solid black;}
.searchArea button{width: 30px; height: 30px; font-size: 30px;}