
/* 컨텐츠 크기 */
[class*='Width'] ,.subPage header > div{margin: 0 auto;}
.maxWidth{max-width: 640px; width: 100%;}
.contentWidth{max-width: calc(100% - 40px); width: calc(640px - 40px);}

 
/* 페이지 하단 간격 */
.claimArea , .termsArea{padding-bottom: 50px;}
.documentArea ,.serviceCenter{padding-bottom: 55px;}
.claimFin, .FAQArea , .supportArea{padding-bottom: 100px;}
.step01Area,
.step02Area,
.step03Area,
.step04Area{padding-bottom: 105px;}


/* 메인 색상 */
mark{color: #0bbef3;}
mark.under{text-decoration: underline;}


/* strong 태그 글자 굵기 */
strong{font-weight: 700;}


/* 숨겨진 타이틀 */
.hiddenTitle{height: 0.1px; overflow: hidden;}


/* 아이콘  */
[data-icon]{text-indent: -9999px; min-width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: 24px;}
[data-icon="file"]{background-image: url('./images/ic-file.png');}
[data-icon="delete"]{background-image: url('./images/ic-delete.png');}


/* * 표시 */
.starGuide::before{content: '*';}


/* close 버튼 */
.closeBtn{width: 24px; height: 24px; position: relative;  text-indent: -9999px;}
.closeBtn::before ,.closeBtn::after{content: ''; position: absolute; left: 50%; top: 50%; width: 75%; height: 2px; background-color: black;}
.closeBtn::before{transform:translate(-50% , -50%) rotate(45deg);}
.closeBtn::after{transform:translate(-50% , -50%) rotate(-45deg);}


/* more 버튼*/
.moreBtn{display: flex; align-items: center; line-height: 1;}
.moreBtn::after{content: ''; background-repeat: no-repeat; background-position: center; background-size: cover;}
a.moreBtn::after{width: 15px; height: 15px; background-image: url('./images/ic-more-color.png'); margin-left: 2px;}
button.moreBtn::after{width: 20px; height: 20px; background-image: url('./images/ic-more.png'); margin-left: 5px;}


/* 입력 박스 공통 */
textarea{resize: none;}
input:not([type="checkbox"]) , select{ height: 50px;}
input:not([type="checkbox"]) , select , textarea{background-color: white; width: 100%; padding: 15px; border: 1px solid #e6e6e6; box-sizing: border-box;}
/* 체크박스 */
input[type="checkBox"]{display: none;}
input[type="checkBox"] + label{line-height: 1; display: flex; align-items: center;}
input[type="checkBox"] + label::after{content: ''; width: 15px; height: 15px; background-image: url('./images/chevk-box.png'); background-repeat: no-repeat; background-position: center; background-size: cover; margin-left: 10px;}
input[type="checkBox"]:checked + label::after{background-image: url('./images/chevk-box-s.png');}


/* 리스트 케이스 */
/* ol */
[class*='olCase'] > li{counter-increment: olList01;}
/* ol - 01*/
.olCase01 li{padding-top: 15px; display: flex;}
.olCase01 li::before{content: counter(olList01); font-weight: 700; margin-right: 20px;}
.olCase01 li p{flex: 1; padding-bottom: 15px; border-bottom: 1px solid #e6e6e6;}
/* ol - 02*/
.olCase02 li button{width: 100%; display: flex; align-items: center; justify-content: flex-start; font-weight: 700;}
.olCase02 li button::before{content:'0' counter(olList01); margin-right: 5px;}
.olCase02 li button::after{content: ''; width: 24px; height: 24px; background: url('./images/ic-up.png') no-repeat center / cover; margin-left: auto; transition: 0.5s;}
.olCase02 li button.active::after{transform: rotate(180deg);}
/* ol - 03 */
.olCase03 li::before{content: counter(olList01) '. ' attr(title); font-weight: 700;}

/* ul */
[class*="ulCase"] > ::before{margin-right: 5px;}
/* ul - 01*/
.ulCase01 > li{display: flex; }
.ulCase01 > li::before{content: '•';}
/* ul - 02*/
.ulCase02 > li:not(:last-child){margin-bottom: 10px;}
.ulCase02 > li > *{display: flex;}
.ulCase02 > li > *::before{content: ''; min-width: 12px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 10px;}
.ulCase02 > li > p::before{background-image: url('./images/ic-check.png');}
.ulCase02 > li > mark::before{background-image: url('./images/ic-check-color.png');}


/* 팝업공통 */
[data-popup]{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
[data-popup].active{display: flex;}

/* 클릭 메뉴 */
[data-popup="menu"]{background-color: rgba(0, 0, 0, 0.5); z-index: 5;}
[data-popup="menu"] > div{background-color: white;}


/* 팝업 */
[data-popup^='popup']{background-color: white; z-index: 10; overflow: auto; z-index: 5;}
[data-popup^='popup'] > div{height: 100%; padding-top: 70px; display: flex; flex-direction: column; position: relative; box-sizing: border-box;}
[data-popup^='popup'] > div strong{display: block; font-size: 20px; padding: 0 20px; margin-bottom: 30px;}
[data-popup^='popup'] .closeBtn{position: absolute; right: 20px; top: 20px;}


/* 서브페이지 */
/* 서브 페이지 공통 */
.subPage{font-size: 15px; font-weight: 400; }
.subPage h3{font-size: 20px; font-weight: 500; margin-bottom: 20px;}
.subPage ~ strong{display: block; margin-bottom: 20px;}
/* .subPage header ~ *:not(:last-child){margin-bottom: 50px;} */
.subPage header ~ div > *:not(:last-child){margin-bottom: 50px;}